.flex-container {
  border: 1px solid red;
  max-width: inherit;
  height: inherit;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0.5rem;

  .book {
    border: 1px solid red;
  }
}
