* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 20px;
  font-family: "IBM Plex Mono";
  line-height: 1.5;
  color: rgba(white, 0.25);
}

body {
  background: #0d1013;
  color: #fff;
}

a {
  display: block;
  color: #fff;
}

button {
  cursor: pointer;
}

.loading {
  padding: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
